Makefile
depends
config.h
config.cache
config.log
config.status
build
tk
bugs
om
ptk
*.prj
*.pws
*.cache
export2cpan
build-stamp
pkgIndex.tcl
Perl/Makefile
Perl/Zinc.bs
Perl/Zinc.c
Perl/pm_to_blib
Perl/blib
