Makefile
depends
config.h
config.cache
config.log
config.status
build
tk
bugs
om
ptk
*.prj
*.pws
*.cache
build-stamp
pkgIndex.tcl
Perl/Makefile
Perl/Zinc.bs
Perl/Zinc.c
Perl/pm_to_blib
Perl/blib
export2cpan
doc/*.log
doc/*.idx
doc/*.ilg
doc/*.ind
doc/refman
doc/*.aux
doc/*.dvi
doc/*.toc
doc/*.lot
doc/*.lof
doc/*.ps
doc/*.pdf
doc/*.tpt
doc/*.png
doc/*.gif
doc/_region_.tex
doc/*.out
doc/log
doc/*.eps
Perl/debugMakefile
Perl/debugMakefile.old
Perl/debugblib
Perl/debugpm_to_blib
Perl/demos/Makefile
Perl/demos/pm_to_blib
Perl/t/*.log
Perl/t/*.log.prev
debian/tmp
debian/zinc-doc
debian/zinc-perl
debian/zinc-python
debian/substvars
debian/zinc-perl.substvars
debian/files
debian/*.debhelper