Source: zinc-tk
Section: devel
Priority: extra
Maintainer: Patrick Lecoanet <lecoanet@ath.cena.fr>
Build-Depends: xlibs-dev, libgl1-mesa-dev | xlibmesa-dev, tk8.4-dev, tcl8.4-dev, perl-base, python (>= 2.1), python-dev, debhelper (>> 3.0.0), tetex-extra (>= 1.0.2+20011202-2), gcc(>= 2.95.4-14), perl (>= 5.6.1-8.2), tex4ht, perl-tk (>= 800.024)
Standards-Version: 2.3.0.0

Package: zinc-tk
Architecture: i386
Depends: tk8.4 (>= 8.4.3)
Conflicts: xradar3-tk
Description: The Tk zinc widget.
 Tkzinc is a canvas like widget for the Tk toolkit. Its has been
 designed to provide a structured organization of its graphical
 components. It provides also advanced geometrical and graphical
 capabilities such as geometric construction (boolean ops),
 transformations, non rectangular clipping gradient fills, smart
 reliefs, etc.
 For more information, http://www.tkzinc.org

Package: zinc-perl
Architecture: i386
Depends: perl-tk (>= 800.024)
Conflicts: xradar3-perl
Description: perl-tk variant of the Tk zinc widget.
 perl-tk variant of the Tk zinc widget.

Package: zinc-python
Architecture: all
Depends: python, python-imaging, python-imaging-tk, python-tk, zinc-tk (= ${Source-Version})
Conflicts: python-xradar3
Description:  python interface to the Tk zinc widget.
 python interface to the Tk zinc widget.

Package: zinc-doc
Architecture: all
Description: Documentation files for the Tk zinc widget
 Documentation files for the Tk zinc widget in html and pdf formats
